<!-- Banner -->
      <section id="banner">
        <h2><strong>Dallas Office Sharing</strong> is a member only collaborative space for startups and alike</h2>
        <p>Creativity at work</p>
        <ul class="actions">
          <li><a href="#" class="button special">Become a Member</a></li>
        </ul>
      </section>

    <!-- One -->
      <section id="one" class="wrapper special">
        <div class="inner">
          <header class="major">
            <h2>Membership Options</h2>
          </header>
          <div class="features">
            <div class="feature">
              <i class="fa fa-user"></i>
              <h3>Individual Workspace</h3>
              <p>Start with our most basic plan. It starts with drop-in zone. You will have access to our High speed internet and free usage of common area and cafeteria</p>
            </div>
            <div class="feature">
              <i class="fa fa-users"></i>
              <h3>Small Team 1-5</h3>
              <p>If you & cofounder are starting out and gaining traction, Small Team is the perfect choice. Conference room setting. Upto 5 person room (approximately 500 sq ft). You are able to use this room 3 times a week (all day!)</p>
            </div>
            <div class="feature">
              <i class="fa fa-black-tie"></i>
              <h3>Month-To-Month Option (Hero)</h3>
              <p>This is our Hero option and the most popular one. No contracts. You pay month to month. You will get your own working space ready with plugins and dual-monitor</p>
            </div>
            <div class="feature">
              <i class="fa fa-hand-peace-o"></i>
              <h3>Yearly Option</h3>
              <p>If you are a remote worker, entrepreneur or even freelancer, this is your best bet! You will get 20% off if you pay in full</p>
            </div>
            <div class="feature">
              <i class="fa fa-circle-o-notch"></i>
              <h3>Yearly Option (Team-Hero)</h3>
              <p>Startups! Get the Hero Team plan!</p>
            </div>
          </div>
        </div>
      </section>
